<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>人脑出血分析系统</div>
        <p>
            分类类别
        </p>
        <p>
            -----------------------------------------------
        </p>
        <p>
            <<strong>外伤性脑出血(ICH)</strong>、
            <strong>硬膜下出血(SDH)</strong>、
            <strong>蜘蛛网膜下腔出血(SAH)</strong>、
            <strong> 硬膜外出血(EDH)</strong>、
            <strong>外伤性气脑症(ICH)</strong>、
            <br/>&nbsp&nbsp<strong>外伤性气脑症(Pneumocranium)</strong>、
            <strong>慢性硬膜下出血(CSDH)</strong>、
            <strong>脑室内出血(IVH)</strong>、
            <strong>头骨骨折(Fracture)</strong>>
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
