<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body background="../static/brain.png"  style="background-repeat: no-repeat;background-position: center;background-size:1450px 1400px;">
<div>
    <div class='center'>
        <div class='title'><strong>人脑出血分类检测系统</strong></div>
        <hr style="height:2px;border:none;border-top:1px dashed white;width: 100%">
        <div class = 'classs'>
            <strong >分类类别</strong>
        </div>
        <p class ='font'>
            外伤性脑出血(ICH)、
            硬膜下出血(SDH)、
            蜘蛛网膜下腔出血(SAH)、
            硬膜外出血(EDH)
        </p>
        <p class='font2' >
            外伤性气脑症(Pneumocranium)、
            慢性硬膜下出血(CSDH)、
            脑室内出血(IVH)、
            颅内骨折(Fracture)
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
